# General
.env
.DS_Store
*.log
*/.env
*.env

# Docker Data & Config
.data/
*_data/
db_data/
pg_data/
mysql_data/
redis_data/
mongo_data/
elasticsearch_data/
volumes/
config/
traefik/certs/
traefik/shared/

# Node
node_modules/
.npm/
.yarn/

# Project Specific
/appsmith/stacks/
/stirlingpdf/StirlingPDF/
/vespa/myapp/
/openproject/control/
/nocodb/nocodb-db/*

# Kestra
kestra/kestra_data/
*.db

# Docuseal
docuseal/docuseal/
